{{>header}}

<body>
	{{>navbar}}

	<section class="about-expertise-sec team">
		<div class="container com ">
			<div class="row align-items-center">
				<div class="col-md-8">
					<div>
						<h2>About Our Company</h2>
					</div>
					<p>
						We are globaly organized with all respective area and make dreams true working with us.
						<span>Established in 2000</span> and working till now capture the 30% market of the
						industry. Our employees are well
						educated and have better knowledge of this industry. The growth of company is incresing
						day by day. We are available for all type of related queries.
					</p>
				</div>
				<div class="col-md-4">
					<img src="\photos\success.jpg" class="exp" alt="">
				</div>
			</div>
		</div>
	</section>


	<section class="about-expertise-sec team">
		<div class="container com ">
			<div class="row align-items-center">
				<div class="col-md-4  border expert">
					<div>
						<h2 class="p-2">The "INTEGRITY"</h2>
					</div>
					<p>
						We are globaly organized with all respective area and make dreams true working with us.
						<span>Established in 2000</span> and working till now capture the 30% market of the
						industry. Our employees are well
						educated and have better knowledge of this industry. The growth of company is incresing
						day by day. We are available for all type of related queries.
					</p>
				</div>
				<div class="col-md-4  border expert">
					<div>
						<h2 class="p-2">The "SUCCESS"</h2>
					</div>
					<p>
						We are globaly organized with all respective area and make dreams true working with us.
						<span>Established in 2000</span> and working till now capture the 30% market of the
						industry. Our employees are well
						educated and have better knowledge of this industry. The growth of company is incresing
						day by day. We are available for all type of related queries.
					</p>
				</div>
				<div class="col-md-4  border expert">
					<div>
						<h2 class="p-2">Our "ACHIEVEMENTS"</h2>
					</div>
					<p>
						We are globaly organized with all respective area and make dreams true working with us.
						<span>Established in 2000</span> and working till now capture the 30% market of the
						industry. Our employees are well
						educated and have better knowledge of this industry. The growth of company is incresing
						day by day. We are available for all type of related queries.
					</p>
				</div>
			</div>
		</div>
	</section>


	<section class="about-expertise-sec">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-8">
					<h2>Our Experties are</h2>
					<p>To find out all the needed people who want to look work for their daily income.And became
						their
						future bright by fulfill their wants. Our motive is that every person get work according to
						their
						specilazition. We are currently working on this idea and emerging all the companies in this
						programme. </p>
				</div>
				<div class="col-md-4">
					<img src="\photos\expertise.jpg" class="exp" alt="">
				</div>
			</div>
		</div>
	</section>
 
	<div class="d-flex flex-row mt-5 mb-5 justify-content-around flex-wrap team">
		<div class="p-4">
			<div class="tg-teammember tg-haslayout">
				<figure class="tg-member-img">
					<a href="#"><img src="\photos\founder1.jpg" alt="member name"></a>
				</figure>
				<div class="tg-member-detail tg-haslayout">
					<h3>Dr. S. Venkataramanaiah (Mentor)</h3>
					<p> Associate Professor in Operations Management
						Chairperson,
						IPMX-Placements Indian Institute of Management Lucknow - Noida Campus
					</p>
				</div>
			</div>
		</div>
		<div class="p-4">
			<div class="tg-teammember tg-haslayout">
				<figure class="tg-member-img">
					<a href="#"><img src="\photos\founder2.jpg" alt="member name"></a>

				</figure>
				<div class="tg-member-detail tg-haslayout">
					<h3> Avneesh Kumar Upadhayay (Legal Advisor)</h3>
					<p> LLM- London School of Economics From Bringham University Australia,Experties In This Field Since Before.</p>
				</div>
			</div>
		</div>
		<div class="p-4">
			<div class="tg-teammember tg-haslayout">
				<figure class="tg-member-img">
					<a href="#"><img src="\photos\founder3.jpg" alt="member name"></a>

				</figure>
				<div class="tg-member-detail tg-haslayout">
					<h3>Aakash Upadhayay (Administration & Promotion)</h3>
					<p>BBA- IMS From Alaska University Of Paris, Having A Good Knowledge Required Domain And Expert.</p>
				</div>
			</div>
		</div>

	</div>
	{{>footer}}
</body>

</html>